<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CucumberBDD suite" verbose = "2" parallel="classes" thread-count ="14">
    <test name="Login page Test">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
    <!-- You can add more <test> elements for additional test classes -->
</suite>